<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
  <!-- Three columns of text below the carousel -->

  <div class="row">
    <div class="col-lg-4">
      <!-- <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="danmartin99"><a class="LI-simple-link" href='https://au.linkedin.com/in/danmartin99?trk=profile-badge'>Dan Martin</a></div> -->
      <img class="img-circle" src="IMG_2877.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Dan Martin</h2>
      <p>Intrested in coding, information technology, aircraft, photography, volunteering at Wild Mountains and the occasional bit of philosophy.</p>
      <p><a class="btn btn-default" href='https://au.linkedin.com/in/danmartin99?trk=profile-badge' role="button">View Linkedin details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="CFA_RGB transparent logo.png" alt="Generic placeholder image" width="180" height="140">
      <h2>Studying @ Coder Factory Academy</h2>
      <p>Coder Factory Academy is an educational institution granting people with technological aspirations the knowledge and skillsets they need to bring even the most far-fetched visions to life.</p>
      <p><a class="btn btn-default" href="https://www.coderfactoryacademy.edu.au" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="cv.png" width="140" height="140">
      <h2>Curriculum Vitae</h2>
      <p>If you are looking for more details please click the link below.</p>
      <p><a class="btn btn-default" href="/DanResume.html" role="button">View curriculum vitae &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First Ruby Program <span class="text-muted">    Home Page Display </span></h2>
      <p class="lead">Allows you to make deposits or withdrawls, the code is in the section below.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="ScnShotATM.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">The code has been pre formated (with colours) using a code formater called Prism. The code is then rendered displayed in an iframe, that allows scrolling through the code.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= render 'ATMcode' %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Jamie our lead teacher. <span class="text-muted">Knows lots of stuff about coding and is super helpful.</span></h2>
      <p class="lead">Serving up birthday cake made by Jess and Malin for Hanna's birthday.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="IMG_4167.JPG" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
